body.play{
	background-color: #0275d8;
	margin: 0px;
}
body.operacoes{
	margin: 0px;
}
.initial{
	border-radius: 40px 40px 40px 40px;
	border-color: #193e63;
	color: white;
	width: 140px;
	height: 96px;
	background: #193e63;
	margin-top: 5px;
}
.op-rosa{
	border-radius: 40px 40px 40px 40px;
	border-color: #ff4081;
	color: white;
	width: 140px;
	height: 96px;
	margin-right: 10px;
	background: #ff4081;
	font-size: 30px;
	margin-top: 5px;
}

.op-cinza{
	border-radius: 40px 40px 40px 40px;
	border-color: #707070;
	color: white;
	width: 140px;
	height: 96px;
	background: #707070;
	font-size: 30px;
	margin-top: 5px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.row{
	display: table;
}
.img{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	padding-left: 20px;

}